@media all and (max-width:1200px){
 
}
@media all and (max-width:991px){
  .section-padding {
    margin-top: 25px;
  }
      .menu, .menu-header-icon{
        display: none;
      }
      .menu {
        position: absolute;
        width: 100%;
        left: 0;
      }
      .mobile-menu{
        display: block;
        /* position: absolute; */
      }
      .menu ul {
        display: flex;
        flex-direction: column;
        background: #FEE9DE;
        align-items: center;
        margin-top: 8px;
        border-radius: 12px;
    }
    .menu ul li a {
        color: #333;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.4px;
        transition: 0.5s;
        padding: 12px 0px;
        display: inline-block;
    }
    .banner-left h1 {
      max-width: 600px;
    }
    .single-serve-box {
      text-align: center;
      margin: auto;
    }
    .customer-say-right-content {
      margin-top: 80px;
    }
    .get-app-right-content {
      margin-top: 25px;
    }

      
}
@media all and (max-width:768px){
  .banner-left h1 {
    font-size: 55px;
  }
  /* .banner-rignt-content img {
    max-width: 497.188px;
    height: 481px;
  } */
  .customer-reviwe {
    display: none;
  }
  .banner-rignt-content {
    margin-top: 35px;
  }
  .clock {
    position: absolute;
    top: 0;
    left: 10px;
  }
  .owner-contract {
    display: flex;
    width: 323px;
    height: 71px;
    padding: 9px 15px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    bottom: 149px;
    left: -9px;
  }
  .our-menu-tab {
    margin-bottom: 35px;
  }
  .get-app-left-content-area img {
    display: none;
  }
  .get-app-left h2 {
    font-size: 35px;
    margin: 12px 0px;
  }
  .owner-contract2 {
    margin-top: 25px;
  }
  .get-app1 {
    margin-top: 52px !important;
    padding: 59px 25px 0px;
    border-radius: 30px;
    background: rgba(255, 221, 204, 0.25);
    align-items: center;
  }
  .get-app-right-content {
    margin: auto;
  }
  .owner-contract2 {
    margin: 25px 0px;
  }
  .serve-area.section-padding {
    margin-top: 50px !important;
  }
  .footer-logo-area ul {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
  }
}
@media all and (max-width:575px){
  .banner-left h1 {
    font-size: 46px;
  }
  .serve-title h1 {
    font-size: 33px;
  }
  .our-reviwes ul li img {
    width: 40px;
    height: 40px;
    border-radius: 64px;
  }
  .our-reviwes {
    width: 216px;
    height: 134px;
    padding: 19px;
  }
  .customer-say-right-content h2 {
    font-size: 35px;
  }
  .customer-say-right-content p {
    font-size: 17px;
  }
  .get-app1 {
    margin-top: 54px !important;
  }
  .Categories-area ul {
    margin-top: 25px;
    display: flex;
    position: absolute;
    gap: 40px;
    flex-wrap: wrap;
  }
  .populer-title {
    margin-top: 145px !important;
  }
  .footer-area.section-padding {
    padding: 30px 0px;
    margin: auto;
    align-items: center;
    text-align: center;
  }
  .footer-logo-area ul {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    justify-content: center;
  }
  .our-menu-titile h2 {
    color: #010F1C;
    font-family: Rubik;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 404px;
    margin: 20px 0px;
  }
  

}
@media all and (max-width:450px){
  .banner-left h1 {
    font-size: 40px;
  }
  .banner-left h1 span {
    font-size: 46px;
  }
  .banner-left h1 span:nth-child(2) {
    font-size: 46px;
  }
  .cart {
    display: none;
  }
  .cart-extra {
    display: none;
  }
  .fa-solid.fa-magnifying-glass {
    display: none;
  }
  .get-app-right-content {
    padding: 58px 35px 0px;
    border-radius: 30px;
    background: #FFF;
    width: 300px;
  }
  .delivery-area {
    display: flex;
    border-radius: 20px;
    background: #FEE9DE;
    width: 241px;
    padding: 15px;
    align-items: center;
    margin-top: 29px;
    flex-wrap: wrap;
  }
  .delivery-area img {
    width: 136px;
    height: 134px;
    order: -1;
  }
  .say1 {
    position: absolute;
    top: 74px;
    left: 56px;
  }
  .say2 img {
    width: 151.596px;
    height: 158.384px;
  }
  .say2 {
    position: absolute;
    top: 47px;
    right: 0;
  }
  .clock img {
    width: 67px;
    height: 61.052px;
    transform: rotate(-20deg);
  }
  .our-menu-titile h2 {
    color: #010F1C;
    font-family: Rubik;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 319px;
    margin: 20px 0px;
  }
  .customer-say-right-content h2 {
    font-size: 30px;
  }
  .get-app-left h2 {
    font-size: 27px;
    margin: 12px 0px;
  }
  .logo img {
    width: 120px;
    height: 49px;
    object-fit: contain;
  }
  .Categories-area ul li:last-child{
    display: none;
  }
}
