/* ------------------

Tamplate Name: 
Tamplate URl:https//coderitsolution.com
Author:Tanvir
Author url:https//tanvir.me
Tags:

---------------------*/
/* ----------------------------------------
            Table-content
    1.
    2.
    3.
    5.
    6.
    7.
    8.
    9.

----------------------------------------- */
:root{
    --color1: ;
    --color2: ;
    --color3: ;
    --color4: ;
    --color5: ;
    --color6: ;
    --color7: ;
    --color8: ;
}


body{
  /* font-family: "Lobster Two", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family:"Rubik", sans-serif ; */
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}
 li,
 a,
 ul,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
   padding: 0;
 }
 a{
  text-decoration: none;
 }
 li{
  list-style: none;
 }
 .btn1{
  display: inline-block;
  padding: 11px 20px;
  border-radius: 50px;
  background: #EB0029;
  color: #F2F2F2;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  border: 1px solid #EB0029;
  transition: 0.5s;
 }
 .btn1:hover{
  color: #EB0029;
  background: transparent;
  transition: 0.5s;
 }
 .section-padding{
  margin-top: 60px;
 }
/* ----------------------------
        1.header-area
------------------------------*/

.header-area{
  padding: 20px 0px;
}
.logo-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu ul {
	display: flex;
	justify-content: space-around;
}
.menu ul li a{
  color: #333;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; 
  transition: 0.5s;
}
.menu ul li a:hover{
  color: #EB0029;
  transition: 0.5s;
}
.menu ul li a i{
  color: #EB0029;
}
.menu-header-icon ul {
	display: flex;
	gap: 20px;
	float: right;
	align-items: center;
}
.menu-header-icon ul li a{
  font-size: 22px;
  color:#000000;
}
.cart{
  position: relative;
}
.cart-extra {
	position: absolute;
	content: "";
	background: #EB0029;
	width: 18px;
	height: 18px;
	border-radius: 50px;
	text-align: center;
	margin: auto;
	font-size: 13px;
	color: white;
	margin-left: -12px;
}
.mobile-menu{
  display: none;
}
.header-btn1{
  font-size: 14px;
}
.logo img {
	width: 152px;
	height: 49px;
	object-fit: contain;
}
/* ----------------------------
        2.banner-area
------------------------------*/
.banner-top-title {
	display: flex;
	padding: 11px 20px;
	align-items: center;
	border-radius: 50px;
	background: #FEE9DE;
	color: #EB0029;
	font-family: Poppins;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 22.4px;
	width: 224px;
	height: 52px;
	gap: 10px;
}
.banner-top-title img{
  width: 20px;
  height: 18px;
  margin-right: 20px;
}
.banner-left h1{
  color: #010F1C;
  font-family: Rubik;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px; 
  margin-top: 30px;
}
.banner-left h1 span{
  color: #EB0029;
  font-family: "Lobster Two";
  font-size: 80px;
  font-style: italic;
  font-weight: 700;
  line-height: 85px;
  display: inline-block;
}
.banner-left h1 span:nth-child(2){
  color: #010F1C;
  font-family: Rubik;
  font-size: 73px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
}
.banner-left p{
  color:#333;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  width: 470px;
  margin: 25px 0px;
}
.popup-btn{
  color: #333;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  margin-left: 20px;
}
.popup-btn:hover{
  color: #EB0029;
}
.popup-btn i{
  padding: 15px;
  border-radius: 30px;
  background: #F2C94C;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  font-size: 16px;
}
.customer-reviwe{
  display: flex;
  gap: 17px;
  align-items: center;
  margin-top: 117px;
}
.customer-reviwe img{
  width: 64px;
  height: 64px;
}
.customer-reviwe-details h5{
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
}
.customer-reviwe-details ul{
  display: flex;
  gap: 6px;
  margin-top: 7px;
}
.customer-reviwe-details ul li i{
  font-size: 18px;
  color: #F2C94C;
}
.customer-reviwe-details ul li{
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; 
}
.customer-reviwe-details ul li span{
  color: #828282;
}





/* banner-right */
.banner-rignt-content {
	position: relative;
  width: 100%;
  height: 100%;
}
.banner-rignt-content img {
	/* max-width: 669.188px; */
	/* height: 650px; */
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
}
.owner-contract {
	display: flex;
	width: 323px;
	height: 71px;
	padding: 9px 15px;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	border-radius: 50px;
	background: #FFF;
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
	position: absolute;
	bottom: 100px;
	left: -75px;
}
.owner-contract img{
  width: 47px;
  height: 47px;
}
.fa-solid.fa-phone {
	padding: 20px;
	background: #F2C94C;
	border-radius: 50px;
	color: #FFF;
}
.owner-name h4{
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
}
.owner-name span{
  color:#828282;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; 
}
.price-cart img{
  width: 113px;
  height: 97px;
  border-radius: 20px;
}
.price-cart {
	display: flex;
	align-items: center;
	gap: 17px;
	width: 272px;
	height: 131px;
	flex-shrink: 0;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 17px;
}
.price-details ul{
  display: flex;
  gap: 6px;
}
.price-details ul li a i{
  color: #F2C94C;
  font-size: 14px;
}
.price-details h4{
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px; 
}
.price-details h5 {
	color: #000;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 22.4px;
	margin-top: 20px;
}
.price-details h5 span{
  color: #EB0029;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
}
.clock img{
  width: 90px;
  height: 85.052px;
  transform: rotate(-20deg);
}
.clock {
	position: absolute;
	top: 0;
	left: 50px;
}
.fire img{
  width: 30px;
  height: 30px;
}
.fire{
  position: absolute;
  top: 0;
  right: 0;
}
.shape img{
  width: 78.055px;
height: 110.5px;
}
.shape {
	position: absolute;
	top: 114px;
	right: -9px;
}
/* ----------------------------
        3.serve-area
------------------------------*/
.serve-title{
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.serve-title span{
  color: #EB0029;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 2.88px;
}
.serve-title h1{
  color: #010F1C;
  text-align: center;
  font-family: Rubik;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; 
  margin-top: 20px;
}
/*  */
.serve-repeat-box{
  /* text-align: center */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-serve-box{
  text-align: center;
}
.single-serve-box img{
  width: 232.955px;
  height: 205px;
  overflow: hidden;
}
.single-serve-box img:hover{
  transform: scale(1.1);
}
.single-serve-box h3{
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; 

}
.single-serve-box p{
  color: #333;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  max-width: 356.244px;
}
/* ----------------------------
        3.our-menu-area
------------------------------*/
.our-menu-titile span{
  color: #EB0029;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22.4px; /* 124.444% */
letter-spacing: 2.88px;
}
.our-menu-titile h2 {
	color: #010F1C;
	font-family: Rubik;
	font-size: 45px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
	width: 532px;
	margin: 20px 0px;
}
.our-menu-tab ul li a{
  display: inline-block;
  margin-top: 20px;
}
.our-menu-tab ul li {
  border-right: 6px solid #F2F2F2;
}
.our-menu-tab ul li:hover{
  border-right: 6px solid #EB0029;
}
/* owl carousel */
/* .slider-content img {
	width: 436px !important;
	height: 508px;
  border-radius: 30px;
} */

.owl-prev {
	width: 25px !important;
	height: 25px!;
	position: absolute;
	top: -57px;
	right: 30px;
	border-radius: 50px;
	color: #000000 !important;
	border-radius: 60px;
	background: #E0E0E0 !important;
}
.owl-prev:hover, .owl-next:hover{
  background: #EB0029 !important;
}
.owl-next{
  width: 25px !important;
	height: 25px!;
	position: absolute;
	top: -57px;
	right: 0px;
	border-radius: 50px;
	color: #000000 !important;
	border-radius: 60px;
	background: #E0E0E0 !important;
}



/* ----------------------------
        4.customer-say-area
------------------------------*/

.customer-say-left-content {
	position: relative;
	width: 100%;
	height: 100%;
}
.customer-say-left-content img{
  /* width: 661px;
  height: 701px; */
  width: 100%;
  height: 100%;
}
.say1 {
	position: absolute;
	top: 95px;
	left: 90px;
}
.say1 img{
  width: 105.859px;
  height: 59.384px;
  transform: rotate(42.452deg);
}
.say2 {
	position: absolute;
	top: 100px;
	right: 0;
}
.say2 img{
  width: 220.596px;
  height: 188.384px; 
}
.our-reviwes {
	width: 263px;
	height: 161px;
	padding: 30px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.10);
	text-align: center;
	position: absolute;
	bottom: -66px;
	right: 0;
}
.our-reviwes h6{
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px; 
  margin-bottom: 20px;
}
.our-reviwes ul li img{
  width: 64px;
  height: 64px;
  border-radius: 64px
}
.our-reviwes ul{
  display: flex;
}











.customer-say-right-content span{
  color: #EB0029;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px; 
  letter-spacing: 2.88px;
}
.customer-say-right-content h2{
  color: #010F1C;
  font-family: Rubik;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 15px 0px;
}
.customer-say-right-content p{
  color: #333;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}


.say-reviwe {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 30px;
}
.say-reviwe img{
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
.say-reviwe-content h5{
  color: #000;
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
}.say-reviwe-content span{
  color: #828282;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
}
.customer-say-right-content ul{
  display: flex;
  gap: 8px;
  margin-top: 30px;
}
.customer-say-right-content ul li a i{
  font-size: 16px;
  color: #F2C94C;
}
.customer-say-right-content ul li a:last-child{
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
}
/* ----------------------------
        5.get-app
------------------------------*/


.get-app1 {
	margin-top: 120px !important;
	padding: 100px 85px 0px;
	border-radius: 30px;
	background: rgba(255, 221, 204, 0.25);
}
.get-app-left span{
  color: #EB0029;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px; 
  letter-spacing: 2.88px;
}
.get-app-left h2{
  color: #010F1C;
  font-family: Rubik;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 25px 0px;
}
.get-app-left p{
  color: #333;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}
.get-app-left-content-area {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.get-app-left-content-area img{
  width: 118px;
  height: 155px;
  padding: 19px 4px 9px 4px;
}
.get-app-left{
  max-width: 434px;

}
.owner-contract2{
    display: flex;
    width: 323px;
    height: 71px;
    padding: 9px 15px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
    float: right;
    border-radius: 30px;
    border-radius: 50px;

}
.phone-extra{
  background: #EB0029 !important;
}
/* get-app-right-content */
.get-app-right-top-content {
	display: flex;
	justify-content: space-between;
}
.get-app-right-content {
	padding: 58px 35px 0px;
	border-radius: 30px;
	background: #FFF;
	width: 415px;
}
.get-app-right-top-content img{
  width: 35px;
  height: 35px;
}
.get-app-right-top-content a{
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.get-app-right-top-content a i{
  color: #EB0029;
}
.delivery-area {
	display: flex;
	border-radius: 20px;
	background: #FEE9DE;
	width: 342px;
	padding: 15px;
	align-items: center;
	margin-top: 29px;
}
.delivery-area img{
  width: 200px;
  height: 183px;
}
.left-delivery h3{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.left-delivery h3 span{
  color: #EB0029;

}
.delivery-btn {
	font-size: 10px;
	margin-top: 16px;
}
/* Categories area */
.Categories-area{
  margin-top: 27px;
}
.Categories-area h4{
  color:#333;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.Categories-btn{
  padding: 10px 20px 10px 11px;
  border-radius: 30px;
  background: #E0E0E0;
  color: #333;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
}
.Categories-btn:hover{
  background: #EB0029;
  color: #E0E0E0;
}
.Categories-btn img {
	width: 24px;
	height: 24px;
	padding: 3px;
	margin-right: 25px;
}
.Categories-area ul {
	margin-top: 25px;
	display: flex;
	position: absolute;
	gap: 40px;
}
/* populer-area */
.populer-area {
	margin-top: 80px;
}
.populer-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.populer-title h5{
  color:#333;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.populer-title a{
  color: #F2C94C;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}


.populer-image-content{
  display: flex;
}
.populer-image-content img {
	width: 174px;
	height: 80px;
	object-fit: cover;
}
/* ----------------------------
       6.footer-area
------------------------------*/
.footer-area.section-padding {
	padding: 30px 0px;
}
.footer-logo-area img{
  width: 145px;
  height: 45px;
}
.footer-logo-area p{
  color: #333;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 20px;
}
.footer-logo-area ul{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footer-logo-area ul li a{
  font-size: 24px;
  color: #EB0029;
  transition: 0.5s;
}
.footer-logo-area ul li a:hover{
  color: #F2C94C;
  transition: 0.5s;
}
.footer-repet-content h6{
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
}
.footer-repet-content ul{
  margin-top: 20px;
}
.footer-repet-content ul li a{
  color:#333;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  transition: 0.5s;
}
.footer-repet-content ul li a:hover{
  color: #EB0029;
  transition: 0.5s;
}
.footer-touch-area h6{
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  margin-bottom: 20px;
}
.footer-touch-area p{
  color: #333;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
}
.footer-btn{
  padding: 14px 20px;
  border-radius: 60px;
  border: 1px solid  #BDBDBD;
  display: inline-block;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; 
  margin-top: 20px;
}
.footer-btn i{
  color: #EB0029;
  margin-left: 20px;
}
.footer-btn:hover{
  background: #EB0029;
  color: #FFF;
}
.footer-btn:hover i{
  color: #FEE9DE;
}




